# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
*.env
.venv/
env/
venv/
# Ignore all .env files
.env
env
env.*
data/*
*.xlsx
*.ipynb

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm IDE files
.idea/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.orig

# MyPy type checker cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Django specific
*.log
local_settings.py
db.sqlite3

# Flask specific
instance/
*.db

# Other
*.pyo
*.~ 
